<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'form_style/style.css'%}" />
    <div class="navbarPlace">
        <div class="navbar">
            <h3 class="navItem item1 active"><a href="add-note">Add Notesss</a></h3>
            <h3 class="navItem item2"><a href="note-list">Note Card</a></h3>
            <h3 class="navItem item3"><a href="/lab-4">Note Table</a></h3>
        </div>
    </div>

</head>

<body>
    <div class="notes">
        <h1 class="add_note" style="text-align: center;">Add Note</h1>

        <form method="POST" action="">
            {% csrf_token %}

            <div class="head">
                <div>Title : {{form.Title}}</div>
                <div class="to">To : {{form.To}}</div>
            </div>
            <p>Message </p>
            <div style="display:block;">
                {{form.Message}}
            </div>
            <div style="padding-top: 10px;">
                From {{form.From}}
            </div>
            <input class="submitButton" type="submit">
        </form>
    </div>
</body>

</html>