<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'card_style/style.css'%}" />
</head>

<body>
    <div class="navbar">
        <h3 class="navItem item1 active"><a href="add-note">Add Notesss</a></h3>
        <h3 class="navItem item2"><a href="note-list">Note Card</a></h3>
        <h3 class="navItem item3"><a href="/lab-4">Note Table</a></h3>
    </div>
    <h2 style="text-align: center;">List of Card Notes</h2>
    <div class="cardPlaceHolder">
        {% for note in Note %}
        <div class="card">
            <h2 style="text-align: center; margin-bottom: 0.75rem; text-decoration: underline;">{{note.Title}}</h2>
            <div style="margin-bottom: 0.75rem;display: flex;justify-content: space-between;">
                <h5>To : {{note.To}}</h5>
                <h5>From : {{note.From}}</h5>
            </div>
            <div class="message">
                <h4 style="max-width: 90%;">{{note.Message}}</h4>
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>