<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'table_style/style.css'%}" />
</head>


<body>
    <div class="navbar">
        <h3 class="navItem item1 active"><a href="add-note">Add Notesss</a></h3>
        <h3 class="navItem item2"><a href="note-list">Note Card</a></h3>
        <h3 class="navItem item3"><a href="/lab-4">Note Table</a></h3>
    </div>
    <h2>Note Table</h2>
    <table>
        <tr>
            <th>TO</th>
            <th>FROM</th>
            <th>TITLE</th>
            <th>MESSAGE</th>
        </tr>
        {% for note in Note %}
        <tr>
            <td>{{note.To}}</td>
            <td>{{note.From}}</td>
            <td>{{note.Title}}</td>
            <td>{{note.Message}}</td>

        </tr>
        {% endfor %}
    </table>
</body>

</html>