@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");

.cardPlaceHolder {
  display: flex;
  flex-wrap: wrap;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h2,
h1,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.card {
  margin-left: 2rem;
  margin-right: 2rem;
  min-width: 240px;
  max-width: 240px;
  min-height: 240px;
  --tw-bg-opacity: 1;
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-radius: 24px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.message {
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(32, 46, 92);
  height: 2.5rem;
  align-items: center;
  margin: 0;
}
.navItem {
  margin-left: 2rem;
  margin-right: 2rem;
  
}
.item1:hover,
.item2:hover,
.item3:hover {
  --tw-bg-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-bg-opacity));
}
.active {
  --tw-bg-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-bg-opacity));
}
a{
  text-decoration: none !important;
  color: white;
  cursor: pointer;
}
