<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Form</title>
</head>

<body>
    <h1>Add Friend</h1>
    
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit">
    </form>
</body>

</html>