<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Friend List</title>
</head>

<body>
  <table border="1" style="table-layout: fixed;width: 50%;text-align: center;">
    <tr>
      <th>Name</th>
      <th>NPM</th>
      <th>DOB</th>
    </tr>
    <!-- TODO loop from Friend model -->
    <!-- EXAMPLE SECTION -->
    {% for friend in friends %}
    <tr>
      <td>{{friend.name}}</td>
      <td>{{friend.npm}}</td>
      <td>{{friend.dob}}</td>
      {% endfor %}
    </tr>
    <!-- END SECTION -->
  </table>
</body>

</html>