<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
</head>

<body>
    <table border="1" style="table-layout: fixed;width: 50%;text-align: center;">
        <tr>
            <th>TO</th>
            <th>FROM</th>
            <th>TITLE</th>
            <th>MESSAGE</th>
        </tr>
        {% for note in Note %}
        <tr>
            <td>{{note.To}}</td>
            <td>{{note.From}}</td>
            <td>{{note.Title}}</td>
            <td>{{note.Message}}</td>

        </tr>
        {% endfor %}
    </table>
</body>

</html>