@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");
body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}
.navbarPlace {
  position: absolute;
  top: 0;
  width: 100vw;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(32, 46, 92);
  height: 2.5rem;
  align-items: center;
  margin-bottom: 2rem;
}
.navItem {
  margin-left: 2rem;
  margin-right: 2rem;
  
}
.item1:hover,
.item2:hover,
.item3:hover {
  --tw-bg-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-bg-opacity));
}
.active{
  --tw-bg-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-bg-opacity));
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.notes {
  background: rgb(77, 255, 139);
  padding: 3rem;
  border-radius: 24px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.to {
  margin-left: 0.5rem;
}
.head {
  display: flex;
}
.add_note {
  transform: translateY(-2rem);
}
textarea {
  width: 98.5%;
  resize: none;
  padding: 5px;
}

.submitButton {
  float: right;
  margin-top: 0.5rem;
  cursor: pointer;
  background-color: rgb(66, 125, 219);
  color: white;
  border-radius: 24px;
  border: 0;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}
.submitButton:hover {
  background-color: rgb(77, 145, 255);
}
