@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");
body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  --tw-bg-opacity: 1;
  padding: 0;
  margin: 0;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(32, 46, 92);
  height: 2.5rem;
  align-items: center;
  margin-bottom: 2rem;
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
.navItem {
  margin-left: 2rem;
  margin-right: 2rem;
  
}
.item1:hover,
.item2:hover,
.item3:hover {
  --tw-bg-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-bg-opacity));
}
.active{
  --tw-bg-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-bg-opacity));
}

table {
  table-layout: fixed;
  width: 50%;
  text-align: center;
  border: 2px solid black;
}

th {
  background-color: rgb(32, 46, 92);
  color: white;
}
tr:nth-child(odd) {
  background-color: #d9e1f2;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
td {
  padding: 0.25rem;
}
